<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login user</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <main>
      <% include ../partials/header %>
      <form action="/users/login" method="POST">
        <input type="email" name="user[email]" placeholder="email"><br>
        <input type="password" name="user[password]" placeholder="password"><br>
        <input type="submit" value="login">
      </form>
      <% if(message) { %>
        <p><%= message %></p>
      <% } %>
    </main>
  </body>
</html>
