<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>beers on beers</title>
  </head>
  <body>
    <% include ../partials/header %>
    <main>
      <% include ../partials/beers %>
      <h3>whatcha tastin'?</h3>
      <form action="/beers" method="POST">
        <input type="text" name="beer[beer]" placeholder="beer name"><br>
        <input type="text" name="beer[state_brewed]" placeholder="state brewed"><br>
        <input type="text" name="beer[feels]" placeholder="feels"><br>
        <input type="submit" value="submit beer">
      </form>
    </main>
  </body>
</html>
