<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>beers on beers</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <div class="show-header">
      <% include ../partials/header %>
    </div>
    <main>
      <h3>whatcha tastin?</h3>
      <form action="/beers" method="POST">
        <input type="text" name="beer[beer]" placeholder="beer name"><br>
        <input type="text" name="beer[state_brewed]" placeholder="state brewed"><br>
        <input type="text" name="beer[feels]" placeholder="feels"><br>
        <input type="submit" value="submit beer">
      </form>
    </main>
    <% include ../partials/beers %>
    <div class="overlay"></div>
  </body>
</html>
