<header>
  <h1>beers</h1>
  <nav>
    <ul>
      <li>
        <a href="/users/login_page">login</a>
      </li>
      <li>
        <a href="/users/new">sign up</a>
      </li>
      <li>
        <a href="/">home</a>
      </li>
    </ul>
  </nav>
</header>
