<header>
  <h1>b&uuml;r</h1>
  <div class="nav">
    <div class="menu-btn" id="menu-btn">
    	<span></span>
    	<span></span>
    	<span></span>
    </div>
    <div class="menu">
      <ul>
        <li>
          <a href="/users/login_page">login</a>
        </li>
        <li>
          <a href="/users/new">sign up</a>
        </li>
        <li>
          <a href="/">home</a>
        </li>
      </ul>
    </div>
  </div>
</header>
